*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the thumb when hovered */
}

html{
    scroll-padding-top: 60px;
}

/**Navbar**/
#navbar{
    background-color:#242628 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100vw;
    padding:10px;
    position: fixed;
    box-shadow:  2px 3px 4px rgba(0, 0, 0, .5);
}


.project-title{   
    text-transform: uppercase;
    font-family: Arial,Helvetica, sans-serif;    
    background: linear-gradient(to right, #F16738, #9EBADC);   
    -webkit-text-fill-color: transparent;    
    -webkit-background-clip: text;
    font-family: JetBrains Mono;
    font-size: 40px;
}

.lnks{
    display: flex;
}

ul{
    display: flex;
    gap: 20px;
 
}

li{
    list-style-type: none;
    padding: 10px;
    font-family: Jockey One;
    font-size: 20px;
    transition: .3s ease;
}

li:hover{
    background-color: #464A4E;
    border-radius: 10px;
    box-shadow: inset 2px 3px 3px rgba(0, 0, 0, .5);
}

a{
    text-decoration: none;
    color: #f0f0f0;
}

.line{
    border-right: 2px solid white;
}

/**Hero**/
#welcome-section{
    padding-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, rgba(0, 0, 0, .5 ) 10%, rgba(0, 0, 0, 0)), url(https://i.postimg.cc/HsT5k2sf/pexels-scottwebb-1022928.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcomecontents{
    display: flex;
    color: #ffffff;
    align-self: center;
    align-items: center;
}

.wleft{
    margin: 0 20px 0 0 ;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hide{
    opacity: 0;
    position: relative;
    left: 100px;
    font-family: Jockey One;
    font-size: 25px;
    color: white;
    transition: .5s ease;
}

.wleft:hover .hide{
    visibility: visible;
    opacity: 1;
}

.picture{
    content: none;
    width: 150px;
    border-radius: 50%;
}

.picture:hover{
    cursor: pointer;
    backdrop-filter: blur(1px);
    filter: blur(1px)
            grayscale(.3)
            brightness(.5);
    overflow: hidden;
}  

.wright{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 170px;
}

.introduction{
    font-size: 65px;
    font-family: Jockey One;
    font-weight: normal;
}

.description{
    font-size: 23px;
    font-family: JetBrains Mono;
    font-weight: normal;
}

/**Projects**/
#projects{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1 ) 5%, rgba(0, 0, 0, 0)), url(https://images.pexels.com/photos/6044201/pexels-photo-6044201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100vh;
}
 
.center{
    display: flex;
    justify-content: center;
}

.header{
    border-bottom: 2px solid white;
    padding: 0 300px;
    color: white;
    font-family: Jockey One;
    font-weight: normal;
    font-size: 50px;
}

.cardcontainer{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin: 25px 20px;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #464A4E;
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
}

.project-tile{
    display: flex;
}

.img1, .img2, .img3{
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid #464A4E;
}

.pdesc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
    color: white;
}

.pttl{
    padding: 0px auto;
    padding: 5px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Jockey One;
    font-weight: lighter;
    text-align: center;
    border-bottom: 1px solid;
}

.type{
    font-size: 20px;
    font-family: Jockey One;
    font-weight: lighter;
    text-align:left;
}
 
.type::before{
    content:"Purpose: ";
    font-size: 23px;
}

.pdsc{
    font-family: JetBrains Mono;
    text-align:left;
    margin-bottom: 20px;
}

.btn{
    display: flex;
    justify-content: center;
}

.vbtn, .visit{
    border: none;
    margin-top: 20px;
    padding: 10px 80px;
    border-radius: 5px;
    font-family: JetBrains Mono;
    transition: .5s ease;
    font-size: 15px;
    font-weight: bold;
}

.visit{
    margin-top: -30px;
}

.vbtn:hover, .visit:hover{
    background-color: black;
    color: white;
    transition: .5s ease;
}

.vbtn:hover::after{
    content: " >>>";
}

.more{
    display: flex;
    justify-content: center;
    transition: 1.5s ease;
}


/**Contacts**/
#contact{
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    background-color: #f1f1f1;
    padding-bottom: 100px;
}

.Lheader{
    color: black;
    border-bottom: 2px solid black;
    padding: 0 300px;
    font-family: Jockey One;
    font-weight: normal;
    font-size: 50px;
}

.logo1{
    display: flex;
    align-items: row;
    gap: 200px;
    justify-content: space-between;
}

.icon{
    display: flex;
    align-items: center;
    gap: 30px;
    transition: .5s ease;
}

.icon:hover{
    transform:scale(1.1);
    color: #F16738;
}

.dicon{
    width: 80px;
}

.logoname{
    font-family: Jockey One;
    font-size: 35px;
    font-weight: normal;
}

.logo2{
    display: flex;
    justify-content: space-between;
    gap: 200px;
}



/**Responsive Design**/
/**Phone Design**/
@media only screen and (max-width:600px) {

    html{
        scroll-padding-top: 60px;
    }

    body{
        overflow-x: hidden;
    }

    .project-title{
        font-size: 40px;
    }

    /**Responsive navbar**/
    #navbar{
        top: 0;
        width: 100vw;
        height: 60px;
    }

    .project-title{
        font-size: 1.1rem;
    }
    ul{
        gap:5px;   
    }

    a{
        font-size: 15px;
    }


    /**Responsive welcome**/
    #welcome-section{
        display: block;
        padding-top: 170px;
        width:100vw;
        background: linear-gradient(to top, rgba(0, 0, 0, .5 ) 40%, rgba(0, 0, 0, 0)), url(https://i.postimg.cc/HsT5k2sf/pexels-scottwebb-1022928.png);
    }

    .welcomecontents{
        display: block;
        text-align: center;
    }

    .picture{
        width:170px;
    }

    .introduction{
        font-size: 40px;
    }

    .description{
        font-size: 20px;
    }

    /**Responsive projects**/
    #projects{
        width:100vw; 
        height: 100%;
    }

    .center{
        display: block;
        text-align: center;
    }

    .header{
        padding: 0;
    }

    .cardcontainer{
        display: block;
        margin:10px 10px;
    }

    .card{
        margin-bottom: 20px;
        padding: 5px;
    }

    .pdesc{
        display: block;
        padding: 2px 5px;
    }

    .pttl{
        font-size: 1.5rem;
    }

    .type, .type::before{
        font-size: 1.2rem;
    }

    .pdsc{
        font-size: 1rem;
    }

    .btn{
        display: block;
        text-align: center;
    }

    .vbtn, .visit{
        padding: 8px 30px;
        margin:10px 0;
        font-size: 1rem;
    }   
   

    /**Responsive contact**/
    #contact{
       display: block;
       width: 100vw;
       height: 34vh;
    }

    .Lheader{
        text-align: center;
        padding: 0;
    }

    .logo1{
        display: block;
        text-align: center;
        
    }

    .dicon{
        width: 30px;
    }
    
    .logoname{
        font-size: 20px;
    }

    .logo2{
        display: block;
        text-align: center;
    }

    .icon{
        margin: 13px;
        display: inline-block;
    }

}
